/************************************************************/
/*  Informa top ribbon                                      */
/************************************************************/
#iribbon-container nav ul, #iribbon-container nav ul li {
    list-style: outside none none;
    margin: 0;
    padding: 1em 0;
}
#iribbon-container ul, #iribbon-container ol {
    margin: 0 0 20px 20px;
}
#iribbon-container {
    background: #525a5c;
    border-bottom: 1px solid #a5acaf;
	color: #fff;
    font-size: 13px;
    min-height: 35px;
    line-height: 18px;
	position: relative;
}
#iribbon-container a {
    color: #fff;
}
#iribbon-title {
    background: rgba(0, 0, 0, 0) url("../images/iribbon-logo.gif") no-repeat center top;
    border: none;
	bottom: 0;
    border-radius: 0;
	box-shadow: none;
	cursor: pointer;
    display: block;
    height: 16px;
    left: 46%;
	margin: 10px auto;
	position: absolute;
	text-indent: -999em;
    -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none;
	width: 92px;
}
@media not all, not all {
	#iribbon-title {
		background: rgba(0, 0, 0, 0) url("../images/iribbon-logo@2x.png") repeat 0 0 / 92px 34px;
	}
}
#iribbon-detail {
    margin: 0 auto;
    max-width: 1180px;
	overflow: hidden;
    padding-bottom: 2em;
	/* transition will require a base 'max-height' value but we can't set that property in the CSS here
	as in the absence of scripting the contents will not be available - this property must be set in the script.. */
	transition: max-height 500ms ease-in-out 0s, min-height 500ms ease-in-out 0s;
}
#iribbon-detail.show {
    max-height: 400px !important; /* to override the script set property above */
}
/* If scripting is available the 'js' class is added to the <html> element. */
.js #iribbon-detail {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px; 
	overflow: hidden;
	position: absolute;
	width: 1px;
}
.js #iribbon-detail.show {
	clip: auto;
	height: auto;
	position: static;
	width: auto;
}
#iribbon-right, #iribbon-left {
    float: left;
    margin: 40px 0;
    max-width: 570px;
    width: 47%;
}
#iribbon-right {
    border-left: 1px solid #a5acaf;
    float: right;
    padding-left: 2%;
}
#iribbon-detail p {
    margin-bottom: 0;
}
#iribbon-detail ul, #iribbon-detail ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#iribbon-detail ul li {
    line-height: 1em;
    margin-bottom: 1.25em;
    padding: 0 15px 0 0;
}
#iribbon-detail ul li:last-child {
    border: 0 none;
}
#iribbon-detail ul li a {
    text-decoration: underline;
    text-transform: uppercase;
}
#iribbon-detail ul li.iribbon-mainlink {
    border: 0 none;
    padding-left: 0;
}
#iribbon-detail ul li.iribbon-mainlink a {
    font-weight: bold;
    text-transform: none;
}
#iribbon-title.active {
    background-position: center bottom;
}
